@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

*{
	margin: 0;
	padding: 0;
}



main{
	width: 100%;
	height: auto;
}

header{
	width: 100%;
	height: auto;
	padding: 1em;
	background: #079992;
}
header h1{
	font-family: 'Sriracha', cursive;
}



section#off{
	width: 100%;
	padding: 4em;
	height: auto;
	background: #fff;
} 
section#off #off-jumbo{
	position: relative;
	width: 100%;
	height: auto;
	margin: 7em auto;
	border-radius: 30px;
	padding: 1em;
	background: #fffde7;
}
section#off #off-jumbo .imageH{
	width: 100%;
	height: 15em;
	position: relative;
}
section#off #off-jumbo .imageH img{
	position: absolute;
	max-width: 22.5em;
	top: -5em;
	left: 0; right: 0; bottom: 0;
}
section#off #off-jumbo #textCenter{
	width: 100%;
	height: 12em;
	padding: 1em;
	display: table;
}
section#off #off-jumbo #textWrite{
	display: table-cell;
	vertical-align: middle;
}

section#off #off-jumbo #textWrite strong{
	color: #ff4d4d;
	font-size: 2em;
}
section#off #off-jumbo #textWrite strong img{
	max-width: 3em;
}
@media screen and (max-width: 600px) {
	section#off #off-jumbo .imageH img{
		max-width: 80%;
	}
}
section#off #off-jumbo .learnMore{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
	text-align: right;
	padding-right: 4em;
}
section#off #off-jumbo .learnMore a{
	font-size: 1em;
	color: #e65100;
	text-decoration: none;
	font-weight: bold;
}










section#sec2{
	width: 100%;
	height: auto;
	padding: 7em;
	background: #fff;
}
section#sec2 #sec2R1{
	margin-top: 3em;
	margin-bottom: 5em;
}
section#sec2 h2#rest{
	color: #e65100;
	font-family: 'Archivo', sans-serif;
	font-size: 3em;
}
section#sec2 #delivery{
	position: relative;
}
section#sec2 #delivery #rounded{
	background: #e65100;
	position: absolute;
	width: 40%;
	height: auto;
	padding: 2em;
	border-radius: 30px;
	text-align: center;
	color: #fff;
	top: 0; left: 20em;
}
@media screen and (max-width: 600px){
	section#sec2 #products .p4, section#sec2 #products .p4, section#sec2 #products .p4, section#sec2 #products .p4, section#sec2 #products .p4, section#sec2 #products .p4{
		margin-left: 40em;
	}
	section#sec2 #delivery{
		width: 20em;
		display: flex;
	}
	section#sec2 #delivery #rounded{
		width: 100%;
		margin: 0 auto;
		background: red;
		left: 0;
		padding-bottom: 1em;
		margin-bottom: 1em;
	}
}

section#sec2 #products{
	height: auto;
	padding: 1em;
	position: relative;
	margin-bottom: 6em;
}
section#sec2 #products #circle{
	position: relative;
	z-index: 1;
	width: 60%;
	height: 100%;
	border-radius: 100%;
	border: 1px solid #78909c;
	transition: 0s;
	padding: 4em;
}

section#sec2 #products #circle:hover{
	background: #192a56;
	transition: 2s;
}
section#sec2 #products .p1:hover::after{
	content: 'All';
	position: absolute;
	top: 3em; left: 0; right: 0; bottom: 0;
	width: 80%;
	height: 8em;
	text-align: center;
	color: #fff;
	font-family: 'Syncopate', sans-serif;
	font-weight: 100;
}
section#sec2 #products .p2:hover::after{
	content: 'Pizza';
	position: absolute;
	top: 3em; left: 0; right: 0; bottom: 0;
	width: 80%;
	height: 8em;
	text-align: center;
	color: #fff;
	font-family: 'Syncopate', sans-serif;
	font-weight: 100;
}
section#sec2 #products .p3:hover::after{
	content: 'Pineapple';
	position: absolute;
	top: 3em; left: 0; right: 0; bottom: 0;
	width: 80%;
	height: 8em;
	text-align: center;
	color: #fff;
	font-family: 'Syncopate', sans-serif;
	font-weight: 100;
}
section#sec2 #products .p4:hover::after{
	content: 'Burger';
	position: absolute;
	top: 3em; left: 0; right: 0; bottom: 0;
	width: 80%;
	height: 8em;
	text-align: center;
	color: #fff;
	font-family: 'Syncopate', sans-serif;
	font-weight: 100;
}
section#sec2 #products .p5:hover::after{
	content: 'Meat';
	position: absolute;
	top: 3em; left: 0; right: 0; bottom: 0;
	width: 80%;
	height: 8em;
	text-align: center;
	color: #fff;
	font-family: 'Syncopate', sans-serif;
	font-weight: 100;
}
section#sec2 #products .p6:hover::after{
	content: 'more';
	position: absolute;
	top: 3em; left: 0; right: 0; bottom: 0;
	width: 80%;
	height: 8em;
	text-align: center;
	color: #fff;
	font-family: 'Syncopate', sans-serif;
	font-weight: 100;
}
/*
section#sec2 #products .p1 {
	background: #fff url('../../assets/icons/comidaTapa.svg') no-repeat center;
}
section#sec2 #products .p2 {
	background: #fff url('../../assets/icons/pizza.svg') no-repeat center;
}
section#sec2 #products .p3 {
	background: #fff url('../../assets/icons/pina.svg') no-repeat center;
}
section#sec2 #products .p4 {
	background: #fff url('../../assets/icons/hamburguesa.svg') no-repeat center;
}
section#sec2 #products .p5 {
	background: #fff url('../../assets/icons/carne.svg') no-repeat center;
}
section#sec2 #products .p6 {
	background: #fff url('../../assets/icons/comidaTapa.svg') no-repeat center;
}*/
section#sec2 #products .p1, section#sec2 #products .p2, 
section#sec2 #products .p3, section#sec2 #products .p4,
section#sec2 #products .p5, section#sec2 #products .p6 {
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: 70% 70%;
	box-shadow: 0 7px 7px 0 #b0bec5;
	border-radius: 20px;
}

@media screen and (max-width: 600px) {
	section#sec2 #products #circle{
		margin: .5em auto;
		width: 60%;
		height: 8em;
	}
}















section#sec3{
	width: 100%;
	height: auto;
}
section#sec3 .card{
	border-radius: 30px;
}
section#sec3 .card #cardImg1, section#sec3 .card #cardImg2, 
section#sec3 .card #cardImg3 {
	border-radius: 30px;
}

